<!doctype html>
<html>
<head>
    <title>Request Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <h1>Tug a Tools</h1>
</header>
<main>
    <h1>Request {{ tool.name }}</h1>
    <form method="post">
        <label>Your Name: <input type="text" name="renter" required></label><br>
        <label>Days Needed: <input type="number" name="days" min="1" value="1"></label><br>
        <input type="submit" value="Submit">
    </form>
</main>
</body>
</html>
